<div class="row" id="cart" *ngIf="(cartItems$|async).length > 0">
  <div class="col-md-8 col-sm-12">
    <div class="card mb-3 p-3 border-dark border-right-0" *ngFor="let item of cartItems$|async">
      <div class="row no-gutters">
        <div class="col-md-2">
          <img [src]="item.img" class="card-img" alt="...">
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 m-auto">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                  <span class="font-weight-bold">&#8377;{{item.discountPrice}}</span>
                  <span class="mx-3 text-muted line-through">{{item.sellingPrice}}</span>
                  <span class="text-success">{{item.discount}}% Off</span>
                </p>
              </div>
              <div class="col-md-4 m-auto">
                <button class="btn border" (click)="updateCount(item,'DEC')"><i class="fa fa-minus"></i></button>
                <button class="btn disabled border mx-3">{{item.count}}</button>
                <button class="btn border" (click)="updateCount(item,'INC')"><i class="fa fa-plus"></i></button>
              </div>
              <div class="col-md-4 m-auto">
                <button class="btn default" (click)="removeProduct(item)"> Remove</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="card">
      <div class="card-header">
        Price Details
      </div>
      <div class="card-body">
        <div class="card-text d-flex">
          <p class="col">Price &#x28;{{totalCount}} Item&#x29;</p>
          <p class="col d-flex justify-content-between"><span>:</span><span>&#8377;{{totalPrice}}</span></p>
        </div>
        <div class="card-text d-flex">
          <p class="col">Discount</p>
          <p class="col d-flex justify-content-between"><span>:</span><span>&#8377;{{totalDiscount}}</span></p>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between font-weight-bolder">
        <span>
          Total Payable
        </span>
        <span>&#8377; {{totalPrice - totalDiscount}}</span>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="(cartItems$|async).length === 0">
  <div class="col ">
    <h4 class="text-center">You Have 0 items in cart. <a routerLink="/">Click here</a> to add items in cart</h4>
  </div>
</div>
